.testimonials_card {
  .testimonial_content {
    margin: 0 1rem;
    padding: 3rem 0 1rem;
    transition: all 0.15s ease;

    .testimonial_content_inner {
      background: transparent;

      .testimonial_img_holder {
        padding: 0;
        border-radius: $border-radius;
        max-height: 375px;
        overflow: hidden;
        background: transparent;

        .testimonial_img {
          border-radius: $border-radius;
        }
      }

      .testimonial_txt_holder {
        background: $primary;
        border-radius: 0.5rem;
        text-align: center;
        color: #fff;
        margin-top: 1rem;

        .testimonial_title, .testimonial_name {
          margin: 0;
          color: #fff;
        }
      }
    }
  }
}